header {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2rem auto 8rem auto;
}

#logo {
    width: 170px;
    max-height: 100%;
    margin-right: 1rem;
}

nav {
    padding: 0.75rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    max-width: 50%;
}

.tag {
    font-size: 12px;
    line-height: 12px;
    height: fit-content;
    margin-right: 0.5rem;
    color: $primary-color;
    border: 0.5px solid darken($light-grey, 25%);
    border-radius: 2rem;
    padding: 0.2rem 0.6rem;
    &:hover {
        color: white;
        border-color: $primary-color;
        background-color: $primary-color;
    }
}

h1 {
    color: $primary-color;
    white-space: nowrap;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1200px) {
    nav {
        order: 3;
        max-width: inherit;
        width: 100%;
        justify-content: flex-start;
        padding-left: 0;
    }
}
