.photographers {
    margin-top: 6rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: auto;
    justify-content: space-around;
    row-gap: 4rem;
    max-width: 100%;
}

.photographer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__thumb {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__pp {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
    }
    &__name {
        line-height: 2.25rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 2.25rem;
        color: $secondary-color;
    }
    &__location {
        color: $primary-color;
        font-size: 0.8rem;
    }
    &__description {
        margin-top: 0.25rem;
        font-size: 0.6rem;
    }
    &__price {
        margin-top: 0.25rem;
        color: $dark-grey;
        font-size: 0.6rem;
    }
    &__tags {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 0.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .photographers {
        margin-top: 4rem;
        grid-template-columns: repeat(2, 50%);
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .photographers {
        grid-template-columns: 100%;
    }
}

.screen-reader {
    display: none;
}

#elevator {
    display: none;
    padding: 0.3em 1em;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    background-color: #DB8876;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    cursor: pointer;
}