body {
    box-sizing: border-box;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}