@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4rem;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 1.5rem;
  }
}
html {
  font-family: "DM sans";
  font-weight: 400;
}

.header {
  display: flex;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  padding-top: 2rem;
}
.header__logo {
  width: 170px;
  max-height: 100%;
  margin-right: 1rem;
}
.header__nav ul {
  margin: 0;
  list-style: none;
  padding: 0.75rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
.header__nav li {
  cursor: pointer;
}
.header__heading {
  position: relative;
  top: 0.4rem;
  color: #901c11;
  white-space: nowrap;
  font-size: 1.5rem;
  width: fit-content;
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 120px;
  }

  .header__heading {
    position: inherit;
    font-size: 1rem;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }
  .header__nav {
    order: 3;
    max-width: inherit;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
}
.photographers {
  margin-top: 6rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: auto;
  justify-content: space-around;
  row-gap: 4rem;
  max-width: 100%;
}

.photographer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photographer__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__pp {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.photographer__name {
  line-height: 2.25rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
  color: #D3573C;
}
.photographer__location {
  color: #901c11;
  font-size: 0.8rem;
}
.photographer__description {
  margin-top: 0.25rem;
  font-size: 0.6rem;
}
.photographer__price {
  margin-top: 0.25rem;
  color: #525252;
  font-size: 0.6rem;
}
.photographer__tags {
  list-style: none;
  margin-top: 1rem;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .photographers {
    margin-top: 4rem;
    grid-template-columns: repeat(2, 320px);
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 600px) {
  .photographers {
    grid-template-columns: 1fr;
  }
}
.screen-reader {
  display: none;
}

#elevator {
  display: none;
  padding: 0.3em 1em;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: #DB8876;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.profile__header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.profile__header .photographer__name {
  text-align: left;
  margin-top: 0;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
}
.profile__header .photographer__location {
  font-size: 1rem;
}
.profile__header .photographer__description {
  font-size: 0.8rem;
}
.profile__header .photographer__tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
.profile__header .photographer__pp {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
.profile__header .tag {
  font-size: 0.8rem;
  padding: 0.3rem;
}

.profile__info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.button {
  position: fixed;
  height: fit-content;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #901c11;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  width: fit-content;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile__header {
    padding: 3rem;
    background-color: #fafafa;
  }
  .profile__header .photographer__name {
    margin-left: -3px;
    font-size: 4rem;
    line-height: 3rem;
  }
  .profile__header .photographer__location {
    font-size: 1.5rem;
  }
  .profile__header .photographer__description {
    font-size: 1rem;
  }
  .profile__header .photographer__pp {
    align-self: flex-start;
    width: 170px;
    height: 170px;
  }
  .profile__header .photographer__tags {
    list-style: none;
    padding: 0;
  }
  .profile__header .tag {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(120%);
    left: inherit;
  }
}
/*----------------------------------------------------------Select---------------------------------------------------------*/
select {
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #901c11;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
select option {
  display: block;
  border-bottom: 1px solid white;
}

.sort-by {
  margin-top: 1.5rem;
}

/*-------------------------------------------Gallery---------------------------------------------------*/
.gallery {
  margin-top: 3rem;
  margin-bottom: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gallery figure {
  height: 400px;
  width: 100%;
  margin: 0;
  font-size: 0;
}
.gallery figure img, .gallery figure video {
  cursor: pointer;
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: 90%;
}

figcaption {
  color: #901c11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  font-size: 1rem;
}
figcaption h2 {
  font-weight: 400;
  flex-grow: 2;
}
figcaption span {
  font-family: "DM sans";
  font-weight: bold;
}
figcaption .like-icon {
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: #901c11;
  cursor: pointer;
}
figcaption .like-icon:active {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .gallery figure {
    height: 40vw;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gallery figure {
    height: 500px;
  }
}
/*------------------------------------------------------Total----------------------------------------------*/
.total-likes {
  display: flex;
  width: 260px;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #DB8876;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem 1.5rem;
  position: fixed;
  bottom: 0;
  right: 8rem;
}
.total-likes .totalLikesNbr {
  margin-right: 5rem;
}
.total-likes .totalLikesNbr::after {
  font-family: "Font Awesome 5 Free";
  margin-left: 0.5rem;
  content: "";
}

@media screen and (max-width: 1200px) {
  .total-likes {
    display: none;
  }
}
#contactForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: #e18d7a;
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 2000;
}
#contactForm h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
#contactForm label {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
#contactForm input {
  font-size: 1.5rem;
  height: 3.25rem;
  margin-bottom: 0.75rem;
  border: none;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  max-width: 100%;
  outline: none;
}
#contactForm textarea {
  border-radius: 0.25rem;
  font-family: "DM sans";
  font-size: 1.25rem;
  height: 11.5rem;
  outline: none;
  padding: 0.5rem;
  max-width: calc(100% - 1rem);
}
#contactForm .submit-btn {
  margin: 1rem auto;
  height: 2rem;
  color: white;
  background-color: #901c11;
  border: none;
  padding: 0.25rem 5rem;
  border-radius: 0.25rem;
  width: fit-content;
  cursor: pointer;
}

#modalClose {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 1.5rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#modalClose img {
  width: 1rem;
  height: 1rem;
}

@media screen and (min-width: 768px) {
  #contactForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 670px;
    height: fit-content;
  }
  #contactForm h1 {
    font-size: 3rem;
  }
  #contactForm label {
    font-size: 1.75rem;
  }
  #contactForm input {
    font-size: 1.5rem;
    height: 3.25rem;
  }
  #contactForm textarea {
    font-size: 1.25rem;
    height: 9.5rem;
  }
  #contactForm .submit-btn {
    margin: 1rem 0;
    padding: 0 3rem;
    height: 4rem;
    font-size: 1rem;
  }

  #modalClose {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 1.5rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #modalClose img {
    width: 2rem;
    height: 2rem;
  }
}
.modal-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c4c4c4;
  opacity: 0.4;
  z-index: 1000;
}

#slider {
  position: relative;
  max-width: 75%;
  height: 80vh;
  margin: 0 auto;
  padding: 50px;
}

#medias {
  height: 80vh;
}

#medias .item {
  max-width: 100%;
  height: 100%;
  text-align: center;
}
#medias .item .media {
  width: 100%;
  height: fit-content;
  max-height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

#medias .item.active {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider__next, .slider__prev, .slider__close {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.slider__next, .slider__prev {
  background: url(./ressources/Arrow.svg) center center no-repeat;
  background-size: contain;
}

.slider__next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
}

.slider__prev {
  position: absolute;
  top: 50%;
  transform: translateX(-100%);
}

.slider__close {
  background: url(./ressources/close-carousel.png) center center no-repeat;
  position: absolute;
  top: 65px;
  right: 0;
}

.tag {
  font-size: 12px;
  line-height: 12px;
  height: fit-content;
  margin-right: 0.5rem;
  color: #901c11;
  border: 0.5px solid #bababa;
  border-radius: 2rem;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}

.tag.active, .tag:hover {
  color: white;
  border-color: #901c11;
  background-color: #901c11;
}

/*# sourceMappingURL=style.css.map */
